<h2>This is User Profile</h2>
<!-- <h1>
    Name - {{name}},
    Status - {{isMarried ? "Married" : "Single"}},
    Salary - {{salary}}
</h1>
<button (click) = "sendData()">Send Data</button> -->



<!--DIRECTIVE USED IN STYLE EXAMPLE -->
<!-- DECORATIVES -->
<!-- <h1 [style.backgroundColor] = "bgColor" >
    Name - {{name}},
    Status - {{isMarried ? "Married" : "Single"}},
    Salary - {{salary}}
</h1>
<button (click) = "sendData()">Send Data</button> -->



<!-- CUSTOM DIRECTIVE EXAMPLE with STYLE -->
<!-- <h1 appHighlight>
    Name - {{name}},
    Status - {{isMarried ? "Married" : "Single"}},
    Salary - {{salary}}
</h1>
<button (click) = "sendData()">Send Data</button> -->




<h1 #myheading>
    Name - {{name}},
    Status - {{isMarried ? "Married" : "Single"}},
    Salary - {{salary}}
</h1>
<button (click) = "sendData()">Send Data</button>